/* make sure this file is imported by your component */
.droppable-zone {
  position: relative;
}
.droppable-zone::before {
  content: '';
  position: absolute;
  top: -230px;      /* half your 380px card height */
  left: 0;
  right: 0;
  height: 190px;    /* same as the negative top */
  pointer-events: none;
}


.scrollbar-hidden {
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* Internet Explorer 10+ */
}

.scrollbar-hidden::-webkit-scrollbar {
  display: none; /* Chrome, Safari, and Opera */
}
