.lesson-page {
  display: flex;
  height: 100vh;
  width: 100vw;
}

.lesson-sidebar {
  width: 350px;
  background-color: #1e293b;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
}

.new-lesson-page {
  flex: 1;
  align-items: flex-start;
  justify-content: center;
  position: relative;
  padding: 4rem 2rem 2rem 2rem;
  box-sizing: border-box;
}

.new-lesson-title {
  font-size: 2.5rem;
  font-weight: bold;
  color: #334155;
}
